* {
    font-family: 'Noto Sans TC', sans-serif;
}

.btn-light {
    border: solid 1px rgb(182, 182, 182);
}

.top{
    padding: 90px;
    background-color:rgba(255, 76, 45, 0.849);
}

.top-sobre{
    padding: 90px;
    background-color:rgb(255, 106, 52);
}

.top p, .top-sobre p{
    padding: 15px 0px 0px 20px;
    font-size: 20px;
}

ul{
    list-style-type: none;
}

.foot{
    padding-top: 50px;
}

.infos{
    border: 1;
}