﻿<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1>{{repoName | titlecase}} - Deploy</h1>
</div>

<div class="card">
    <div class="card-body">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active' : branch == 'master'}" href="javascript:void(0)" (click)="getCommits('master')">Master</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active' : branch == 'development'}" href="javascript:void(0)" (click)="getCommits('development')">Development</a>
            </li>
        </ul>

        <div *ngIf="loading" class="mt-5 d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div *ngIf="!loading">
            <repository-card [repoName]="repoName" [branch]="branch"></repository-card>

            <div class="list-group">
                <div class="list-group-item list-group-item-action" *ngFor="let commit of commits | startswith:'Merge'" >
                    <div class='row'>
                        <div class='col-10'>
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{commit.title}}</h5>
                            </div>
                            <small>{{commit.committed_date | date:'H:mm:ss dd/MM/yyyy'}} | {{commit.author_name}}</small>
                            <p class="mb-1">{{commit.message}}</p>
                            <small><a href="{{commit.web_url}}">{{commit.id}}</a></small>        
                        </div>
                        <div class='col-2'>
                            <button class="btn btn-default btn-xs pull-right remove-item">
                                <a href="javascript:void(0)" data-toggle="modal"
                                    data-target="#exampleModal" (click)="commit_sha1 = commit.id">Deploy</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <deploy-dialog [branch]="branch" [repoName]="repoName" [commit_sha1]="commit_sha1" mode="deploy"></deploy-dialog>
    </div>
</div>