<style>
    @-webkit-keyframes cursor-blink {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @-moz-keyframes cursor-blink {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes cursor-blink {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .terminal-background {
        background-color: black;
    }

    .terminal {
        position: relative;
        padding: 4rem;
    }

    .terminal .prompt {
        color: #1ff042;
        display: block;
        font-family: "AndaleMono", monospace;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.9em;
        letter-spacing: 0.15em;
        white-space: pre-wrap;
        text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
        line-height: 1;
        margin-bottom: 0.75em;
    }

    .terminal .prompt:before {
        content: "> ";
        display: inline-block;
    }
</style>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{mode == 'rollback' ? 'Rollback':'Deploy'}} {{repoName}} - {{branch}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex w-100 justify-content-between">
                    <p>Aplicar {{mode == 'rollback' ? 'Rollback':'Deploy'}}</p>

                    <button type="button" class="btn btn-primary" (click)="action()" [disabled]="loading">{{mode == 'rollback' ? 'Rollback':'Deploy'}}</button>
                </div>

                <div class="row">
                    <div class="terminal-background terminal" *ngIf="lines?.length > 0">
                        <p class="prompt" *ngFor="let line of lines">{{line}}</p>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>