<div class="card mt-4 mb-4">
    <div class="card-header">
        {{repoName | titlecase}} - {{branch}} status
    </div>
    <div class="card-body">
        <div *ngIf="loading" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div *ngIf="!loading">
            <div class="row">
                <div class="col">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{repoBranchState.commit_info.title}}</h5>
                    </div>
                    <small>{{repoBranchState.commit_info.committed_date | date:'H:mm:ss dd/MM/yyyy'}} | {{repoBranchState.commit_info.author_name}}</small>
                    <p class="mb-1">{{repoBranchState.commit_info.message}}</p>
                    <small><a href="{{repoBranchState.commit_info.web_url}}">{{repoBranchState.commit_info.id}}</a></small>        
                </div>
                <div class="col-auto border-left">
                    <div class="float-righ">
                        <input type="checkbox" class="mr-1" checked style="width: 15px; height: 15px;" [checked]="repoBranchState.is_locked" (change)="repoBranchState.is_locked = !repoBranchState.is_locked" (click)="toggleLock()"/> 
                        <label style="display: inline-block;">Branch trancada</label>    
                        <br>
                        <input type="checkbox" class="mr-1" checked style="width: 15px; height: 15px;" [checked]="repoBranchState.is_rolledback" (change)="repoBranchState.is_rolledback = !repoBranchState.is_rolledback" disabled/> 
                        <label style="display: inline-block;">Branch em rollback</label>    
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</div>